@import './base.css';

#app {
  display: flex;
  flex-direction: column;
  min-height: inherit;
  margin: 0 auto;
}

.container {
  max-width: 1588px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none;
}